html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
/* .all {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
} */
 .all{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(221 152 191);;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
 }

nav {
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: black;
    justify-content: left;
    align-items: center;
}
nav img{
    width: 13vw;
    display: flex;
    align-items: center; 
}

nav ul {
    display: flex;
    color: white;
    gap: 1vw;
    list-style-type: none;
    margin: 0;
    align-items: center;
    padding: 1%;
}
nav ul li{
    font-size: 1.5vw;
    color: white;
}
.mainContainer{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: skyblue;
    width: 50vw;
    height: calc(100vh - 30vh - 10vh - 6vh);
    margin: 3vh 2vw;
    padding: 0;
    position: relative;
    align-items: 0;
    border-radius: 0.5vw;
    background-image: url(images/arjit1.jpg);
    /* background-color: rgb(44, 96, 96); */
    background-size: cover;
    /* background-position: 100% 4%;  */
}

.album{
    display: flex;
    position: relative;
    width: 98%;
    height: 12%;
    padding: 0.5vw;;
    background-color: black;
    align-items: center;
    border-radius: 0.5vw;
   
}
.album h2{
    color: white;
    font-size: 2.5vw;
    width: 100%;


}
.songItem{
    display: flex;
    /* flex-direction: column; */
    width: 90%;
    height: 95%;
    color: white;
    overflow: hidden;
    justify-content: flex-start;
    align-items: center;
    padding: 1% 2%;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  
    position: relative;
}
.songItem img{
       width: 7%;
       /* height: 10%; */
       border-radius: 50%;
}
.songName{
    display: flex;
    flex-direction:row;
    position: relative;
    width: 40%;
    line-height: 3%;

}
.songnav{
    display: flex;
    flex-direction:row;
    margin-left: 10%;
    width: 100%;
    font-size: 1.2vw;
}
.timeStamp{
    display: flex;
    flex-direction:row;
    /* margin-left: 2%; */
    width: 100%;
    font-size: 1.2vw;
    justify-content: left;
    align-items: center;
    position: relative;
}
.playButton{
    display: none;
    width: 50%;
    height: 50%;
}


.footer{
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 30vh;
    justify-content: center;
    align-items: center;
    position: relative;
}
.songInfo{
    display: flex;
    align-items: center;
    color: white;
}
#progressBar{
    width: 70%;
}
.icon{
    display: flex;
    width: 70vw;
    justify-content:center;
    align-items: center;
    gap: 30%;
    margin-top: 1%;
}
#volume{
    width: 5%;
   
    
}
.control{
    display: flex;
    justify-content: space-between;
    gap: 2%;
    width: 18%;
}
#loop{
    width: 5%;
}
#gif,
#gif1{
    opacity: 0;
    transition: 0.5s ease-in;
}
#back:hover,
#play:hover,
#next:hover,
#volume,
#loop{
    zoom: 102%;
    cursor: pointer;
}


@media(max-width:600px){
    .mainContainer{
        display: flex;
        flex-direction: column;
        position: relative;
        background-color: skyblue;
        width: 95vw;
        height: calc(100vh - 20vh - 10vh - 6vh);
        /* margin: 3vh 2vw; */
        padding: 0;
        position: relative;
        align-items: 0;
        border-radius: 0.5vw;
        background-image: url(images/arjit1.jpg);
        /* background-color: rgb(44, 96, 96); */
        background-size: cover;
        /* background-position: 100% 4%;  */
    }
    nav img{
        width: 30vw;
        display: flex;
        align-items: center; 
    }
    nav ul li{
        font-size: 4vw;
        color: white;
        
    }
    .album h2{
        color: white;
        font-size: 5.5vw;
        width: 100%;
        padding: 1%;
    }
    .footer{
        display: flex;
        flex-direction: column;
        background-color: rgb(0, 0, 0);
        width: 100vw;
        height: 20vh;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .control{
        display: flex;
        justify-content: space-between;
        gap: 2%;
        width: 35%;
    }
    .icon{
        display: flex;
        width: 100vw;
        justify-content:center;
        align-items: center;
        gap: 8%;
        margin-top: 1%;
    }
    .songnav{
        display: flex;
        flex-direction:row;
        margin-left: 10%;
        width: 100vw;
        font-size: 4.2vw;
    }
    .songItem img{
        width: 15%;
        /* height: 10%; */
        border-radius: 50%;
 }
 .timeStamp{
    display: flex;
    flex-direction:row;
    /* margin-left: 2%; */
    width: 100%;
    font-size: 3.7vw;
    justify-content: left;
    align-items: center;
    position: relative;
}
}
